.chat-side {
  background-color: #2f3e51;
  width: 300px;
  height: 100vh;
  float: left;
  .side__header {
    background-color: #253141;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding: 0 20px;
    height: 100px;
    display: flex;
    align-items: center;
    .side-header__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      .side-header__box__user-name {
        margin: 0;
        padding: 0;
      }
      .side-header__box__menu {
        display: flex;
        .side-header__box__menu__new-group {
          margin-left: 0.3rem;
          color: #ffffff;
        }
        .side-header__box__menu__edit-user {
          margin-left: 0.3rem;
          color: #ffffff;
        }
      }
    }
  }
}


.groups {
  height: calc(100vh -100px);
  background-color: #2f3e51;
  overflow: scroll;
  .group {
    margin-bottom: 40px;
    padding: 20px 20px 0;
    .group__group-name {
      font-size: 15px;
      margin-bottom: 5px;
      color: #ffffff;
    }
    .group__latest-message {
      font-size: 11px;
      color: #ffffff;
    }
  }
}

